 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-group-1 {
  min-height: 567px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  font-family: SF-Pro-Display-Black;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-family: SF-Pro-Display-Regular;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: SF-Pro-Display-Black;
  margin: 113px auto 0;
  padding: 26px 62px 26px 61px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  font-family: SF-Pro-Display-Regular;
  margin: 27px 0 60px auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}@font-face {
  font-family: 'SF-Pro-Display-Black';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Black.otf);
}@font-face {
  font-family: 'SF-Pro-Display-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}